html, body {
  margin: 0 auto;
  padding: 0;
  width: 900px;
  background-color: gray;

}
canvas {
  display: block;
}

.panel {
  float: right;
  width: 200px;
  background: lightgray;
  padding: 10px 10px 10px 10px;
  margin: 20px 20px;
  font-size: 18px;
}